
  body{
    background-color: rgb(235, 227, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgba(114, 195, 202, 0.575);
    height: 80px;
}

.head{
    display: flex;
  padding: 32px 6px;
}

.title{
    color: rgb(235, 114, 134);
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 0 0 240px;
    flex-wrap: wrap;
    background-color: rgb(235, 227, 227);
    height: 540px;
    margin-top: 50px;
}

.content1{
    background-color: rgb(235, 227, 227);
    margin-left: 115px;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.item{
    display: flex;
    padding: 13px 36px;
}

.list1{
    list-style: none;
}

.sub{
    padding: 3px;
}

.content2{
    display: flex;
    padding: 8px;
    width: 800px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 93, 93);
}

h1{
    margin-top: -160px;
    margin-left: -197px;
       
    }

.head1{
    display: flex;
  padding: 32px 6px;
  
}
  
.alert{
   width: 270px;
   height: 30px;
   padding: 6px 3px;
   gap: 7px;
    background-color: antiquewhite;
}

#alert1{
   
    background-color: rgb(153, 201, 245);
    color: #000;
}

#alert2{
    
     background-color: rgb(247, 27, 27);
     color:white;
 }

 #alert3{
    
     color: rgb(241, 239, 67);
     color: yellowgreen;
 }
  
 
  
 

  .foo{
    margin-top: 83px;
    padding: 30px;
    background-color: rgba(40, 82, 85, 0.575);
}

.foo-links{
    text-decoration: none;
}


.--list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.items{
    padding: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 245, 245);
}

.links{
    text-decoration: none;
}